# CORRELATION OF ATTRITION

In [2]:
import pandas as pd
df=pd.read_csv("general_data.csv")
df.Attrition=df.Attrition.map({"Yes":1,"No":0})
df.Gender=df.Gender.map({"Male":1,"Female":0})
df

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,0,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,0,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,1,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,1,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,1,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,0,Travel_Rarely,Research & Development,5,4,Medical,1,4406,0,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,0,Travel_Rarely,Research & Development,2,4,Medical,1,4407,1,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,0,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,1,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,0,Travel_Rarely,Sales,18,2,Medical,1,4409,1,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,0,Travel_Rarely,Research & Development,28,3,Medical,1,4410,1,...,0.0,Y,12,8,0,NaN,6,21,3,9

# Corrrelation between Attrition and DistanceFromHome

In [3]:
from scipy.stats import pearsonr
from matplotlib import pyplot as plt
stats,p=pearsonr(df.Attrition,df.DistanceFromHome)
print("correllation between Attrition and distanceFromHome is",stats,"and p value is",p)
if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")
#plt.scatter(df.Attrition,df.DistanceFromHome)

correllation between Attrition and distanceFromHome is -0.009730141010179438 and p value is 0.5182860428049617
accept null hypothesis

p>0.05,So Ho is accepted,
DistanceFromHome is negatively correlated with Attrition rate

# Corrrelation between Attrition and  Education

In [4]:
from scipy.stats import pearsonr
stats,p=pearsonr(df.Attrition,df.Education)
print("correllation between Attrition and Education is",stats,"and p value is",p)    
if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and Education is -0.015111167710968737 and p value is 0.3157293177118575
accept null hypothesis

p>=0.05,So Ho is accepted,
Education is negatively correlated with Attrition

# Corrrelation between Attrition and Age

In [5]:
from scipy.stats import pearsonr
stats,p=pearsonr(df.Attrition,df.Age)
print("correllation between Attrition and Age is",stats,"and p value is",p)    
if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and Age is -0.15920500686577505 and p value is 1.996801615893171e-26
reject null hypotesis

p<0.05,So Ho is rejected,
Age is not correlated with the Attrition rate

# Corrrelation between Attrition and  EmployeeID

In [53]:
from scipy.stats import pearsonr
stats,p=pearsonr(df.Attrition,df.EmployeeID)
print("correllation between Attrition and EmployeeID is",stats,"and p value is",p)

if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and EmployeeID is -0.004729122995065952 and p value is 0.7535487401882808
accept null hypothesis

p>=0.05,So Ho is accepted,
EmployeeID is negavively correlated with attrition

# Corrrelation between Attrition and Gender

In [6]:
from scipy.stats import pearsonr
stats,p=pearsonr(df.Attrition,df.Gender)
print("correllation between Attrition and Gender is",stats,"and p value is",p)    
if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and Gender is 0.01812507887701033 and p value is 0.22881970951790567
accept null hypothesis

 p>0.05,So Ho is accepted
 Gender is correlated with Attrition rate

# Corrrelation between Attrition and PercentSalaryHike

In [7]:
from scipy.stats import pearsonr
stats,p=pearsonr(df.Attrition,df.PercentSalaryHike)
print("correllation between Attrition and PercentSalaryHike is",stats,"and p value is",p)
    
if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and PercentSalaryHike is 0.032532594891052195 and p value is 0.030743386433369824
reject null hypotesis

p<0.05,So Ho is rejected,
Percent Salary Hike is not correlated with Artrition rate

# Corrrelation between Attrition and YearsSinceLastPromotion

In [8]:
from scipy.stats import pearsonr
stats,p=pearsonr(df.Attrition,df.Corrrelation between Attrition and PercentSalaryHike
print("correllation between Attrition and YearsSinceLastPromotion is",stats,"and p value is",p)

if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and YearsSinceLastPromotion is -0.03301877514258329 and p value is 0.02833033618939086
reject null hypotesis

p<0.05,So Ho is rejected,
YearsSincelastPromotion is not correlated with the attrition rate

# Corrrelation between Attrition and  YearsWithCurrManager

In [55]:
from scipy.stats import pearsonr
stats,p=pearsonr(df.Attrition,df.YearsWithCurrManager)
print("correllation between Attrition and YearsWithCurrManager is",stats,"and p value is",p)

if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and YearsWithCurrManager is -0.15619931590162422 and p value is 1.7339322652951965e-25
reject null hypotesis

p<0.05,So Ho is rejected,
YearsWithCurrManager is not correlated with the attrition rate

# Corrrelation between Attrition and YearsAtCompany

In [56]:
from scipy.stats import pearsonr
stats,p=pearsonr(df.Attrition,df.YearsAtCompany)
print("correllation between Attrition and YearsAtCompany is",stats,"and p value is",p)

if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and YearsAtCompany is -0.13439221398997386 and p value is 3.163883122493571e-19
reject null hypotesis

p<0.05,So Ho is rejected,
Yearsatcompany is not correlated with the Attrition rate

# Corrrelation between Attrition and TrainingTimesLastYear

In [10]:
from scipy.stats import pearsonr
stats,p=pearsonr(df.Attrition,df.TrainingTimesLastYear)
print("correllation between Attrition and TrainingTimesLastYear is",stats,"and p value is",p)

if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and TrainingTimesLastYear is -0.049430576244253066 and p value is 0.001024706191536548
reject null hypotesis

p<0.05,So Ho is rejected,
TrainingTimeLastyear is not correlated with the Attrition rate

# CORRELATION BETWEEN  ATTRITION AND STOCKOPTIONALLEVEL

In [58]:
from scipy.stats import pearsonr
stats,p=pearsonr(df.Attrition,df.StockOptionLevel)
print("correllation between Attrition and StockOptionLevel is",stats,"and p value is",p)

if(p<0.05):
    print("reject null hypotesis")
else:
    print("accept null hypothesis")

correllation between Attrition and StockOptionLevel is -0.006838852403261021 and p value is 0.6498072937477383
accept null hypothesis

p>0.05,So Ho is accepted,
StockOptionLevel has correlated with artrition rate